
:root.theme-dark {
  --back-image: url(../images/cover-image-dark.png);
  --accent-color: #FF0070;
  --accent-color-opacity: rgba(255, 0, 112, 0.4);
  --main-text-color: #000028;
  --general-font-color: #F1B2CE;
  --color-title: #DB00FF;
}

.theme-dark .header-corner-rec {
  display: block;
}
