/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.header-corner-rec {
  position: absolute;
  line-height: 1.5;
  inset: 10px 20px auto auto;
  text-transform: uppercase;
  color: var(--accent-color);
  font-weight: normal ;
}

.header-corner-rec::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color) ;
  background-color: var(--accent-color) ;
  height: 10px;
  width: 10px;
  margin-left: 10px;
}

.header::before {
  content: "";
  position: absolute;
  inset: 10px 10px auto auto;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.header {
  background: url() center ; 
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: 10px;
  align-items: center;
  min-height: 668px;
  position: relative;

}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  justify-self:end;
  align-self: middle;
}

.header__title {
  color: var(--color-title);
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem); 
  font-weight: bold;
  line-height: 95px;
  text-shadow: 4px 4px var(--accent-color);
}

.header__text {
  font-weight: bold;
  line-height: 23.5px;
  text-wrap: pretty;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--main-text-color);
}

.header::after {
  content: "";
  position: absolute;
  inset: auto auto 10px 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.page {
  font-family: var(--main-font);
  font-size: 18px;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}
