
.header-corner-rec {
  position: absolute;
  line-height: 1.5;
  inset: 10px 20px auto auto;
  text-transform: uppercase;
  color: var(--accent-color);
  font-weight: normal ;
}

.header-corner-rec::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color) ;
  background-color: var(--accent-color) ;
  height: 10px;
  width: 10px;
  margin-left: 10px;
}

.header::before {
  content: "";
  position: absolute;
  inset: 10px 10px auto auto;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: 10px;
  align-items: center;
  min-height: 668px;
  position: relative;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  justify-self:end;
  align-self: middle;
  gap: 10px;
}

.header__theme-menu-button {
  color: var(--accent-color);
  background-color: transparent;
  padding: 0 13px;
  border: none;
  outline: none;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
}

.header__title {
  color: var(--color-title);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem); 
  font-weight: bold;
  line-height: 95px;
  text-shadow: 4px 4px var(--accent-color);
}

.header__text {
  font-weight: bold;
  line-height: 23.5px;
  text-wrap: pretty;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--main-text-color);
  font-size: 1em;
}

.header::after {
  content: "";
  position: absolute;
  inset: auto auto 10px 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.page {
  font-family: var(--main-font);
  font-size: 18px;
  background: var(--back-image) no-repeat center / cover;
  background-attachment: fixed;
}

.main-content {
  margin-block-start: 40px;
  padding: 0 10px;
}

.main-content-section {
  margin-block-end: 50px;
}

.main-content-article > p {
  margin-block-end: 20px;
}

.title-main-section {
  font-size: 1em;
  color: var(--accent-color);
  margin-block-end: 20px;
}

.title-main-section ~ span {
  display: inline-block;
  margin-block-end: 20px;
  font-weight: bold;
}

.title-main-article {
  margin-block-end: 10px;
}

.title-main-article-no-accent {
  font-weight: normal;
  font-size: 1em;
  margin-block-end: 10px;
}

.image-item {
  width: 100%;
}