:root {
  --main-font: "IBM Plex mono", monospace;
  --general-font-color: #f1b2ce;
  --color-title: #db00ff;
  --accent-color: #ff0070;
  --accent-color-opacity: rgba(255, 0, 112, 0.4);
  --main-text-color: #000028;
  --back-image: url(../images/cover-image-dark.png);
  --back-color-bu: #000028;
  --accent-title: #ff0070;
}
